:root{
    --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}


.hero{
    text-align: center;
   height: 500px;
align-items: center;

background: var(--secondary-color);
}

.hero p{
font-family: var(--default-font-family);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
/* identical to box height */

text-align: center;

color: #272142;
}

.hero h1{
font-family: var(--heading-font-family);
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 128px;
/* identical to box height */


color: #000000;
}

.hero h2{
    
font-family: var(--default-font-family);
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #272142;
}

.hero a{
   
justify-content: center;
align-items: center;
padding: 18px 30px;
width: 200px;
height: 63px;
background: var(--branding-color);
border-radius: 4px;
margin-top: 40px;
}

.container h1{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 85px;

color: #000000;
}

.container p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */


color: rgba(39, 33, 66, 0.7);

}

.btn-branding-outline{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #6C63FF;
border: 1px solid var(--branding-color);
text-decoration: none;
padding: 10px;
border-radius: 2px;

}
.right-letter{
    margin: 100px 0px;
    
}
@media(max-width:768px){
    .right-letter{
        text-align: center;
        align-items: center;
       
        margin: 100px auto;
    }
}
@media(min-width:768px){
    .right-letter{
        margin: 0 auto;
        
        
    }
    .container h1{
        font-size: 40px;
    }
.container p{
    font-size: 14px;
}
}

@media(min-width:992px){
    .right-letter{
        margin: 100px 0px;
        
    }
}







